* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 20px;
  }
}

a {
  text-decoration: none;
  color: #222;
}

@import url("https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200&family=Raleway:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400&family=Rubik:ital,wght@0,400;1,300&display=swap");

body {
  font-family: Corben, sans-serif;
  user-select: none;
  // background-color: #ffc3bd;
  background-color: rgba(247 247 247);
  scroll-behavior: smooth;
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #1313cb;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #26c12e;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #ba1a1a;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

// dashboard section styles
.dashboard_container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1.3rem;
  height: 100vh;
  overflow-y: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  main {
    width: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    .dashboard {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;
      gap: 10px;
      div {
        background-color: rgb(233, 130, 212);
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;
        transition: all 0.5s;
        cursor: pointer;
        &:hover {
          transform: translateY(-10px);
        }
        border-radius: 50%;
        p {
          font-size: 2rem;
        }
      }
    }
  }
  aside {
    background-color: #eee;
    z-index: 1;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    height: 100vh;
    h2 {
      margin: 0 10px;
    }

    div {
      margin: 2rem 1rem;
      > h5 {
        opacity: 0.5;
        margin: 1rem 0;
      }
      ul {
        display: flex;
        flex-direction: column;
        grid-template-rows: unset;

        li {
          font-size: 17px;
          list-style: none;
          margin: 3px;
          border-radius: 5px;
          a {
            text-decoration: none;
            margin: 10px;
            color: #222;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }
    }
  }
}

#hambuger {
  display: grid;
  place-items: center;
  gap: 3rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  left: 5px;
  font-size: 2rem;
  background-color: #fff;
  z-index: 9;
  color: rgba(44, 104, 255);
}

#close_sidebar {
  width: 85%;
  margin: auto;
  display: block;
  padding: 10px;
  border: 0;
  margin: 1rem auto;
  border-radius: 10px;
  outline: 0;
  background-color: crimson;
  color: white;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .dashboard_container {
    overflow: auto;
    width: 100%;
    grid-template-columns: 1fr;
    main {
      .dashboard {
        grid-template-columns: 1fr;
      }
    }
    aside {
      margin-top: 1rem;
      > h2 {
        margin-top: 3.3rem;
      }
    }
  }
}
